h1{
    color: lightblue;

  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
      font-size: 50px;

}
body {
  background-color: lightblue;
}
header {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 25px;
}
nav {
  background-color: white;
  text-align: center;
  padding: 15px;
}
nav a {
  color: navy;
  text-decoration: none;
  margin: 10px;
}
nav a:hover {
  color: purple;
}
section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 2px solid navy;
  border-radius: 12px;
}
h2 {
  color: navy;
  font-size: 28px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal
}
img {
  max-width: 50%;
  border-radius: 12px;
    padding-top:20px;
}
div { 
    display: flex; 
    justify-content: center; 
    }




