h1{
    color: lightblue;

  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
      font-size: 40px;

}
body {
  background-color: lightblue;
}
header {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 25px;
}
